{% extends 'base.html' %}

{% block page_title %}
    Excluír Ordem de Serviço
{% endblock page_title %}

{% block content %}
    <h1>Excluír Ordem de Serviço?</h1>

    <p>Tem certeza que deseja excluír a ordem de serviço <strong>{{ serviceorders.title }}</strong>?</p>

    <form method="POST">
        {% csrf_token %}

        <button type="submit" class="btn btn-danger">Excluír</button>
        <a href="{% url 'convocations_list' %}" class="btn btn-primary">Cancelar</a>
    </form>
{% endblock content %}