{% extends 'base.html' %}

{% block page_title %}
    Lista de Eventos
{% endblock page_title %}

{% block content %}
    <h1>Lista de Eventos</h1>

    {% if eventboard_list %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Descrição</th>
                <th scope="col">Documento</th>
                <th scope="col">Criado em</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
                {% for event in eventboard_list %}
                    <tr>
                        <th scope="row">{{ event.pk }}</th>
                        <td>{{ event.title }}</td>
                        <td>{{ event.description }}</td>
                        <td><a href="{{ event.doc_url.url }}" download="{{ event.doc_url.url }}"> Baixar documento</a></td>
                        <td>{{ event.created_at }}</td>
                        <td>
                            <a
                                href="{% url 'event_boards_update' pk=event.pk %}" 
                                class="btn btn-secondary btn-sm"
                            >
                                Editar
                            </a>
                            <a href="{% url 'event_boards_delete' pk=event.pk %}" class="btn btn-danger btn-sm">Excluír</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há eventos lançados pelo condomínio</p>
    {% endif %}
    
    {% if user.is_staff %}
        <a href="{% url 'event_boards_create' %}" class="btn btn-primary">Novo Evento</a>
    {% endif %}
{% endblock content %}

