{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
  {% if event.pk %}
    Editar Evento
  {% else %}
    Novo Evento
  {% endif %}
{% endblock page_title %}

{% block content %}
  {% if event.pk %}
    <h1>Editar evento</h1>
  {% else %}
    <h1>Novo evento</h1>
  {% endif %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form|crispy }}

    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
{% endblock content %}

    