{% extends 'base.html' %}

{% block page_title %}
    Lista de Telefones Úteis
{% endblock page_title %}

{% block content %}
    <h1>Lista de Telefones Úteis</h1>

    {% if usefulphonesboard_list %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Descrição</th>
                <th scope="col">Documento</th>
                <th scope="col">Criado em</th>
                {% if user.is_staff %}
                    <th scope="col">Ações</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for usefulphone in usefulphonesboard_list %}
                    <tr>
                        <th scope="row">{{ usefulphone.pk }}</th>
                        <td>{{ usefulphone.title }}</td>
                        <td>{{ usefulphone.description }}</td>
                        <td><a href="{{ usefulphone.doc_url.url }}" download="{{ usefulphone.doc_url.url }}"> Baixar documento</a></td>
                        <td>{{ usefulphone.created_at }}</td>
                        {% if user.is_staff %}
                            <td>
                                <a
                                    href="{% url 'useful_phones_boards_update' pk=usefulphone.pk %}" 
                                    class="btn btn-secondary btn-sm"
                                >
                                    Editar
                                </a>
                                <a href="{% url 'useful_phones_boards_delete' pk=usefulphone.pk %}" class="btn btn-danger btn-sm">Excluír</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há telefones úteis lançados pelo condomínio</p>
    {% endif %}
    
    {% if user.is_staff %}
        <a href="{% url 'useful_phones_boards_create' %}" class="btn btn-primary">Novo Telefone Útil</a>
    {% endif %}
{% endblock content %}

