{% extends 'base.html' %}

{% block page_title %}
    Lista de Alugueis de Vagas
{% endblock page_title %}

{% block content %}
    <h1>Lista de Alugueis de Vagas</h1>

    {% if carreservations_list %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Locador</th>
                <th scope="col">Locatário</th>
                <th scope="col">Apartamento</th>
                <th scope="col">Criado em</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
                {% for carreservation in carreservations_list %}
                    <tr>
                        <th scope="row">{{ carreservation.pk }}</th>
                        <td>{{ carreservation.user }}</td>
                        <td>{{ carreservation.tenant_name }}</td>
                        <td>{{ carreservation.apartment }}</td>
                        <td>{{ carreservation.created_at }}</td>
                        <td>
                            <a
                                href="{% url 'car_reservations_update' pk=carreservation.pk %}" 
                                class="btn btn-secondary btn-sm"
                            >
                                Editar
                            </a>
                            <a href="{% url 'car_reservations_delete' pk=carreservation.pk %}" class="btn btn-danger btn-sm">Excluír</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há alugueis de vagas lançados pelo condomínio</p>
    {% endif %}
    
    {% if user.is_staff %}
        <a href="{% url 'car_reservations_create' %}" class="btn btn-primary">Novo Aluguel de Vaga</a>
    {% endif %}
{% endblock content %}

