{% extends 'base.html' %}

{% block page_title %}
    Lista de Documentos
{% endblock page_title %}

{% block content %}
    <h1>Lista de Documentos do Condomínio</h1>

    {% if condominiumdocuments_list %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Documento</th>
                <th scope="col">Adicionado em</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
                {% for cond_doc in condominiumdocuments_list %}
                    <tr>
                        <th scope="row">{{ cond_doc.pk }}</th>
                        <td>{{ cond_doc.doc_name }}</td>
                        <td><a href="{{ cond_doc.doc_url.url }}" download="{{ cond_doc.doc_url.url }}"> Baixar documento</a></td>
                        <td>{{ cond_doc.created_at }}</td>
                        <td>
                            <a
                                href="{% url 'cond_docs_update' pk=cond_doc.pk %}" 
                                class="btn btn-secondary btn-sm"
                            >
                                Editar
                            </a>
                            <a href="{% url 'cond_docs_delete' pk=cond_doc.pk %}" class="btn btn-danger btn-sm">Excluír</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há documentos lançados pelo condomínio</p>
    {% endif %}

    {% if user.is_admin %}
        <a href="{% url 'notice_boards_create' %}" class="btn btn-primary">Novo Documento</a>
    {% endif %}
    
{% endblock content %}

