{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
  {% if cond_doc.pk %}
    Editar de Tarefa
  {% else %}
    Nova Tarefa
  {% endif %}
{% endblock page_title %}

{% block content %}
  {% if cond_doc.pk %}
    <h1>Editar documento</h1>
  {% else %}
    <h1>Novo documento</h1>
  {% endif %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form|crispy }}

    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
{% endblock content %}

    